<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <autofac defaultAssembly="Boying.Framework">
    <components>
      <component instance-scope="single-instance" type="Boying.Localization.Services.CultureDateTimeFormatProvider, Boying.Framework" service="Boying.Localization.Services.IDateTimeFormatProvider"></component>
      <component instance-scope="single-instance" type="Boying.Environment.ApplicationEnvironment, Boying.Framework" service="Boying.Environment.IApplicationEnvironment, Boying.Framework"></component>
    </components>
  </autofac>
</configuration>