@{
    var version = new System.Reflection.AssemblyName(typeof(Boying.ContentManagement.ContentItem).Assembly.FullName).Version.ToString();
}
<div id="Boying-version">@T("Boying v.{0}", version)</div>
